<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
</nav>

<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form class="ui form" id="user-form" th:object="${product}" th:action="@{/admin/products}" method="post">
          <input type="hidden" name="id" th:value="*{id}">
            <h4 class="ui dividing header">Product info</h4>
            <div class="required field">
                <label>Name</label>
                <div class="field">
                  <input type="text" name="name" placeholder="Name" th:value="*{name}">
                </div>
            </div>
          <div class="required field">
            <label>Category</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="typeId" th:value="*{typeId}">
                  <div class="default text">Category</div>
                  <div class="menu">
                      <div th:each="type : ${typeList}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}"></div>
                  </div>
              </div>
          </div>
          <div class="required field">
            <label>Price</label>
            <div class="field">
              <input type="text" name="price" placeholder="Price" th:value="*{price}">
            </div>
          </div>

            <div class="required field">
                <label>Describe</label>
                <div class="field">
                    <textarea name="description" placeholder="Describe" th:text="*{description}"></textarea>
                </div>
            </div>

          <div class="required field">
            <label>User</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="userId" th:value="*{userId}">
              <div class="default text">User</div>
              <div class="menu">
                  <div th:each="user : ${userList}" class="item" data-value="1" th:data-value="${user.id}" th:text="${user.username}"></div>
              </div>
            </div>
          </div>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test1">Upload image</button>
                <div class="layui-upload-list">
                    <input type="text" th:value="*{pic}" name="pic" class="hpic" hidden/>
                    <img class="layui-upload-img" id="demo1" th:src="*{pic}">
                    <p id="demoText"></p>
                </div>
            </div>
          <div class="ui submit button" id="save-btn">Submit</div>
        </form>
    </div>
</div>
<br>
<br>
<!--底部footer-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
</footer>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->


<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('#save-btn').click(function () {
        $('[name="published"]').val(false);
        $('#user-form').submit();
    });


    $('.ui.form').form({
        fields: {
            name: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入商品名'
                }]
            },
            amount: {
                identifier: 'amount',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入库存'
                }]
            },
            typeId: {
                identifier: 'typeId',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请选择种类'
                }]
            },
            price: {
                identifier: 'price',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入价格'
                }]
            },
            description: {
                identifier: 'description',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入描述'
                }]
            },
            userId: {
                identifier: 'userId',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请选择所属人'
                }]
            },
            pic: {
                identifier: 'pic',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请选择图片'
                }]
            },
        }
    });
    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/uploadFile' //改成您自己的上传接口
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('Fail');
                }
                //上传成功
                layer.msg('Success');
                $(".hpic").val(res.data.src);
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    })
</script>
</body>
</html>