<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

  <!--导航-->
  <nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
  </nav>
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" th:href="@{/admin/types/input}" class="item">Add</a>
        <a href="#" th:href="@{/admin/types}" class="teal active item">List</a>
      </div>
    </div>
  </div>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
        <i class="close icon"></i>
        <div class="header">Noted：</div>
        <p th:text="${message}">Success</p>
      </div>
      <table class="ui compact teal table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Operate</th>
            <th><a href="#" th:href="@{/admin/types/input}"  class="ui mini right floated teal basic button">Add</a></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="type,iterStat : ${typeList}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${type.name}">tt</td>
            <td>
              <a href="#" th:href="@{/admin/types/{id}(id=${type.id})}" class="ui mini teal basic button">Edit</a>
              <a href="#" th:href="@{/admin/types/delete/{id}(id=${type.id})}" class="ui mini red basic button">Delete</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="6" align="center">
            <div class="meneame" id="Pagination"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
  </footer>
  <th:block th:replace="admin/_fragments :: script"></th:block>
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    $(function () {
      initPagination();
    });

    function initPagination(){
      var totalpage = "[[${total}]]";
      totalpage = parseInt(totalpage);
      var currentPage ="[[${page}]]";
      currentPage=parseInt(currentPage)-1;
      var paginationProperties = {
        num_edge_entries: 1,    //边缘页数
        num_display_entries: 4,   //主题页数
        callback:pageselectCallback,  //回调函数
        items_per_page:5,              //每页显示条数
        current_page: currentPage,
        prev_text: "Last",
        next_text: "Next"
      };
      //显示分页导航条
      $("#Pagination").pagination(totalpage,paginationProperties)
    }

    function pageselectCallback(pageIndex,jq){
      var currentPage = parseInt(pageIndex)+1;
      window.location.href="/admin/types?page="+currentPage+"&pageSize="+5;
      return false;
    }
  </script>
</body>
</html>