
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Post An Ad</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">

<body class="sticky-header bg-accent">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->
    <!-- ScrollUp Start Here -->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- ScrollUp End Here -->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper">

        <!--=====================================-->
        <!--=            Header Start           =-->
        <!--=====================================-->
        <nav th:replace="_fragments :: menu(0)"></nav>
        <!--=====================================-->
        <!--=        Post Add Start    			=-->
        <!--=====================================-->
        <section class="section-padding-equal-70">
            <div class="container">
                <div class="post-ad-box-layout1 light-shadow-bg">
                    <div class="post-ad-form light-box-content">
                        <form action="#" th:object="${product}">
                            <input type="hidden" name="id" th:value="*{id}">
                            <div class="post-section post-category">
                                <div class="post-ad-title">
                                    <i class="fas fa-tags"></i>
                                    <h3 class="item-title">Select Category</h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="control-label">
                                            Product Type
                                            <span>*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <select id="typeId" class="form-control select-box" name="typeId">
                                                <option value="-1" >--Select Category--</option>
                                                <option th:selected="${type.id}==*{typeId}" th:each="type : ${typeList}" th:text="${type.name}" th:value="${type.id}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-section post-information">
                                <div class="post-ad-title">
                                    <i class="fas fa-folder-open"></i>
                                    <h3 class="item-title">Product Information</h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="control-label">
                                            Name
                                            <span>*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="post-title" th:value="*{name}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="control-label">
                                            Price [$]
                                            <span>*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="price" id="post-price" th:value="*{price}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="control-label">
                                            Description
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <textarea name="description" class="form-control textarea" id="description" cols="30" rows="8" th:text="*{description}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-section post-img">
                                <div class="post-ad-title">
                                    <i class="far fa-image"></i>
                                    <h3 class="item-title">Images</h3>
                                </div>
                                <div class="form-group">
                                    <div class="img-gallery">
                                        <div class="img-upload">
                                            <div class="upload-title">Drop files here to add them.</div>
                                            <button type="button" class="item-btn" id="test1">Browse file ...</button>
                                            <div class="layui-upload">
                                                <div class="layui-upload-list">
                                                    <input type="text" th:value="*{pic}" name="pic" class="hpic" hidden/>
                                                    <img class="layui-upload-img" id="demo1" th:src="*{pic}" style="width: 100px;height: 100px;">
                                                    <p id="demoText"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="img-upload-instruction alert alert-danger">
                                            <p>Recommended image size to (870x493)px</p>
                                            <p>Image maximum size 3 MB.</p>
                                            <p>Allowed image type (png, jpg, jpeg).</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-section post-contact">
                                <div class="row">
                                    <div class="col-sm-5">

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="button" class="submit-btn" value="Submit Listing" onclick="postProduct()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=       Footer Start           	=-->
        <!--=====================================-->
        <footer th:replace="_fragments:: footer"></footer>
    </div>
    <th:block th:replace="_fragments :: script">
    </th:block>
</body>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script>

    function postProduct() {
        let name=$("input[name=name]").val();
        let price=$("input[name=price]").val();
        let description=$("#description").val();
        let typeId=$("#typeId option:selected").val();
        let pic=$("input[name=pic]").val();
        if(name==''||price==''||description==''||typeId==-1||pic==''){
            alert("Please fill in your product information completely!")
        }else{
            $.post("/products", {name: name,price:price,description:description,typeId:typeId,pic:pic}, function (result) {
                if(result=='error'){
                    alert("post failed!");
                }else{
                    alert("post successfully!");
                    window.location.href = "/";
                }
            });
        }
    }

    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/uploadFile' //改成您自己的上传接口
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('Fail');
                }
                //上传成功
                layer.msg('Success Upload image');
                $(".hpic").val(res.data.src);
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    })
</script>
</html>